.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  
}
.modal {
  width: 30vw;
  height: 30vh;
  transform: 'translate(-50%, -50%)';
  z-index: 100;
  background-color: white;
  position: relative;
}
.close {
  position: absolute;
  right: 10px;
  top: 10px;
}
.open {
  margin-bottom: 5%;
}
p {
  margin: 0 auto;
  padding: 10px 20px;
}
